/* JOGO 01 */

/* GERAL */
.gochi-hand-regular {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
  .baloo-2 {
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
  * {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
  }
  body{
    /* backface-visibility: visible; */
    background-size: 100%;
    /* background-position: 7vw; */
    background-repeat: no-repeat;
    height: 100vh;
  }
  /* GERAL */
  